[run]
branch = True
include =
    goodplay/*
    */site-packages/goodplay/*
parallel = True

[paths]
source =
    goodplay/
    */site-packages/goodplay/

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
precision = 2
show_missing = True
