include .coveragerc
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include Makefile
include MANIFEST.in
include README.rst
include RELEASE.rst
include requirements.txt
include setup.cfg
include setup.py
include tox.ini

recursive-include docs *
recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs/build *
